* {
    overflow: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculimg {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 1.2px 1.3px 1px #0000007f;
    font-family: 'Varela Round', sans-serif, cursive;
}

h1 {
    color: #ffca43;
    font-size: 1.7em;
}

h2 {
    color: #370617;
}

.sign {
    color: black;
}

body {
    background-color: #3C096C;
}

.container {
    text-align: center;
    width: 97%;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.526);
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    background-color: #5A189A;
    box-shadow: 0px 0px 15px #0000007f;
}

#userinput {
    width: 45%;
}

.calculator {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #ff4787b0;
    box-shadow: 0px 0px 15px #0000007f;
}

p {
    color: #410B13;
    background-color: #ffffff8c;
    padding: 2%;
    border-radius: 13px;
    font-size: -1.3em;
    text-shadow: 0px 1px 2px #0000007f;
    font-style: bold;
    box-shadow: 0px 0px 5px #0000007f;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

output {
    word-wrap: break-word;
    font-size: 20px;
    text-align: center;
    text-overflow: scroll;
    border-color: bisque;
    color: black;
    size: 50%;
    display: inline;
    width: 100%;
    text-align: left;
    align-items: left;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
}

.box_design {
    margin: 10px;
    height: 25px;
    border-radius: 15px;
    border-color: transparent;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 0px 7px #0000007f;
}

.calculate {
    margin-left: auto;
    margin-right: 5px;
    height: 50px;
    background-color: rgba(165, 247, 82, 0.784);
    color: blue;
}

.button-animate {
    margin-top: 5px;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.button-animate:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.button-animate:focus-visible {
    outline-offset: 1px;
}

.clear {
    height: 50px;
    width: 60px;
    background-color: rgba(255, 132, 92, 0.784);
    color: rgb(253, 253, 253);
    margin-left: 5px;
}

.sign {
    height: 10%;
    width: auto;
    border-radius: 10px;
    border: none;
    padding: 3px;
    font-size: 90%;
    text-align: center;
}

.calculate:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(142, 255, 89);
}

.clear:hover {
    background-color: rgb(255, 98, 98);
}

.btn1,
.btn-grey {
    background-color: #bdbdbd;
    color: rgb(0, 0, 0);
    height: 45px;
    width: 55px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 12px 10px;
    cursor: pointer;
    border-radius: 40%;
    border: transparent;
    box-shadow: 0px 0px 12px #000000c8;
}

.btn1:hover,
.btn-grey:hover {
    box-shadow: 3px 3px #25410add;
    background-color: rgba(255, 248, 123, 0.814);
    transform: scale(1.2);
    border-radius: 300px;
    box-shadow: 0px 0px 10px #000000c8;
}

@media(max-width:453px) {
    #userinput {
        margin: 2px;
        width: 85%;
        size: 50;
        text-align: center;
    }
}

::placeholder {
    color: rgb(117, 117, 130);
    font-size: 75%;
    overflow: auto;
}

@media screen and (max-width: 1080px) {
    * {
        overflow: auto;
    }
    .box_design {
        width: 60%;
    }
    .calculate {
        width: 20%;
    }
    .clear {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    * {
        overflow: auto;
    }
    .calculate,
    .clear {
        font-size: 100%;
        padding: 0px;
    }
    .calculate {
        width: 80%;
    }
    h1 {
        font-size: 150%;
    }
}

@media screen and (max-width: 436px) {
    * {
        overflow: auto;
    }
    .calculate,
    .clear {
        font-size: 90%;
        padding: 0px;
    }
    .calculate {
        width: 70%;
    }
}