* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.calculimg {
    display: none;
}

h1 {
    color: #9fe5ad;
    text-shadow: 1px 1px 10px #0000007f;
}

.sign {
    color: black;
}

body {
    background-color: #1793ff;
}

.container {
    text-align: center;
    width: 97%;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.526);
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.417);
    box-shadow: 0px 0px 15px #0000007f;
}

.text {
    display: block;
    width: 100px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#userinput {
    width: 45%;
}

.calculator {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #ec8aa9;
    box-shadow: 0px 0px 15px #0000007f;
}

output {
    padding: 159px auto;
    font-size: 24px;
    text-align: center;
    overflow-x: scroll;
    width: 2px;
    border-color: bisque;
    size: 50;
    margin: 5px 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.box_design {
    margin: 10px;
    height: 25px;
    border-radius: 15px;
    border-color: transparent;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 0px 15px #0000007f;
}

.calculate {
    margin-left: auto;
    margin-right: 5px;
    height: 50px;
    background-color: rgba(165, 247, 82, 0.784);
    color: blue;
    width: 20%;
    box-shadow: 0px 0px 15px #0000007f;
}

.clear {
    height: 50px;
    width: 60px;
    background-color: rgba(122, 70, 52, 0.784);
    color: rgb(253, 253, 253);
    margin-left: 5px;
    width: 20%;
    box-shadow: 0px 0px 15px #0000007f;
}

.sign {
    height: 10%;
    width: auto;
    border-radius: 10px;
    border: none;
    padding: 3px;
    font-size: 20px;
    text-align: center;
}

.calculate:hover {
    color: rgb(21, 5, 5);
    background-color: rgb(98, 173, 63);
}

.clear:hover {
    color: rgb(21, 5, 5);
    background-color: rgb(87, 152, 221);
}

.btn1,
.btn-grey {
    background-color: #bdbdbd;
    color: rgb(0, 0, 0);
    height: 45px;
    width: 55px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 12px 10px;
    cursor: pointer;
    border-radius: 40%;
    border: transparent;
    box-shadow: 0px 0px 12px #000000c8;
}

.btn1:hover,
.btn-grey:hover {
    box-shadow: 3px 3px #25410add;
    background-color: rgba(255, 248, 123, 0.814);
    transform: scale(1.2);
    border-radius: 300px;
    box-shadow: 0px 0px 10px #000000c8;
}

@media(max-width:453px) {
    #userinput {
        margin: 2px;
        width: 85%;
        size: 50;
        text-align: center;
    }
}

@media(max-width:433px) {
    h1 {
        display: none;
    }
    @media(max-width:418px) {
        .calculimg {
            display: inline-block;
            height: 5em;
            width: auto;
        }
        h1 {
            display: none;
        }
    }
    .btn1,
    .btn-grey {
        height: 3em;
        width: 3em;
        text-align: center;
        font-size: 93%;
    }
}