* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

h1 {
    color: #1793ff;
}

.container {
    text-align: center;
    width: 97%;
    margin: 10px;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
}

.calculator {
    width: 70%;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}

output {
    padding: 159px auto;
    font-size: 24px;
    text-align: center;
    overflow-wrap: break-word;
    width: 40%;
    size: 50;
    margin: 5px 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.box_design {
    margin: 10px;
    height: 25px;
    border-radius: 15px;
    border-color: transparent;
    text-align: center;
    font-size: 18px;
}

.calculate {
    margin-left: auto;
    margin-right: 5px;
    height: 50px;
    background-color: rgba(165, 247, 82, 0.784);
    color: blue;
}

.clear {
    height: 50px;
    width: 60px;
    background-color: rgba(247, 123, 82, 0.784);
    color: rgb(253, 253, 253);
    margin-left: 5px;
}

.sign {
    height: 40px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
}