* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box_design {
    color: rgb(0, 0, 0);
    height: 40px;
    background-color: rgba(255, 228, 196, 0.248);
    border-color: #4d4e4e;
    border-radius: 70px;
    text-align: center;
}

.container {
    margin: 50px 50px;
    text-align: left;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px 15px 15px 45px;
}

#a,
#b,
#c,
#d {
    width: 80%;
    size: 50;
    margin: 10px 10px 10px 10px;
}

.calculate,
.clear {
    color: rgb(0, 0, 0);
    width: 10%;
    size: 50;
    height: 40px;
    background-color: rgba(255, 228, 196, 0.248);
    border-color: #4d4e4e;
    border-radius: 70px;
    text-align: center;
    margin: 10px 10px 10px 38px;
}

.calculate:hover,
.clear.calculate:hover {
    background-color: blueviolet;
    color: whitesmoke;
    zoom: 1;
}