input {
    align-self: center;
    width: 415px;
    height: 65px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
    color: black;
    width: 80%;
    size: 50;
    height: 40px;
    border-radius: 70px;
    text-align: center;
    margin: 5% 10% 2% 10%;
    margin-left: 10%;
    font-size: 20px;
}

output {
    padding: 159px auto;
    font-size: 24px;
    text-align: center;
    overflow-wrap: break-word;
    width: 80%;
    size: 50;
    margin: 5px 5px;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.all {
    margin: 3px;
    width: 83px;
    border: none;
    height: 49px;
    font-size: 24px;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
    box-shadow: 0px 0px 10px #0000007f;
}

.all:hover {
    background-color: hsla(180, 100%, 40%, 0.999);
    border-radius: 25px;
    box-shadow: 0px 0px 10px #0000007f;
}

.functions-one {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.functions-two {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triggers {
    background-color: #ffc266;
}

.numbers {
    background-color: #c9c7c7;
}

.basic-stuff {
    background-color: #80d4ff;
}

.complex-stuff {
    background-color: #80ffff;
}

@media(max-width:418px) {
    #calculimg {
        display: inline-block;
        height: 5em;
        width: auto;
    }
    h1 {
        display: none;
    }
}

@media(max-width:590px) {
    .all {
        width: 70px;
        height: 39px;
        margin: 7px;
    }
    .functions-one {
        width: 650px;
    }
    .functions-two {
        width: 500px;
    }
}

@media(max-width:600px) {
    .container {
        overflow: scroll;
        height: fit-content;
    }
}

@media screen and (max-width: 480px) {
    body {
        overflow-y: scroll;
    }
}