a {
    background-color: red;
}

.calculator {
    max-width: 530px;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}

input {
    align-self: center;
    width: 415px;
    height: 65px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
    color: black;
    width: 80%;
    size: 50;
    height: 40px;
    border-radius: 70px;
    text-align: center;
    margin: 5% 10% 2% 10%;
    margin-left: 10%;
    font-size: 20px;
}

output {
    padding: 159px auto;
    font-size: 24px;
    margin-left: 40%;
    width: 80%;
    size: 50;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    margin: 3px;
    width: 83px;
    border: none;
    height: 49px;
    font-size: 24px;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: hsla(180, 100%, 40%, 0.999);
    border-radius: 25px;
}

.functions-one {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.functions-two {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triggers {
    background-color: #ffc266;
}

.numbers {
    background-color: #999999;
}

.basic-stuff {
    background-color: #80d4ff;
}

.complex-stuff {
    background-color: #80ffff;
}