* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

body {
    background-color: rgb(8, 90, 244);
}

h1 {
    color: cornflowerblue;
}

#calculimg {
    display: none;
}

#res {
    margin: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    width: 80%;
    size: 50;
}

.container {
    text-align: center;
    width: 97%;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.526);
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    background-color: rgba(54, 220, 235, 0.462);
}

.calculator {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-image: url("../img/test2bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

@media(max-width:600px) {
    .container {
        overflow: scroll;
        height: fit-content;
    }
}