* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

body {
    background-color: rgb(8, 90, 244);
}

h1 {
    color: cornflowerblue;
}

#calculimg {
    display: none;
}

#userinput {
    color: rgb(0, 0, 0);
    width: 360px;
    align-items: center;
    size: 50;
    height: 40px;
    background-color: white;
    border-color: none;
    border-radius: 70px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

#res {
    margin: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    width: 80%;
    size: 50;
}

.container {
    text-align: center;
    width: 97%;
    margin: 10px;
    align-items: center;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.526);
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    background-color: rgba(54, 220, 235, 0.462);
}

.calculator {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-image: url("../img/test2bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.btn1,
.btn-grey {
    background-color: #bdbdbd;
    color: rgb(0, 0, 0);
    height: 45px;
    width: 55px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 12px 10px;
    cursor: pointer;
    border-radius: 12px;
    border: transparent;
    box-shadow: 3px 3px #000000ab;
}

.btn1:hover,
.btn-grey:hover {
    box-shadow: 3px 3px #25410add;
    background-color: rgba(42, 154, 252, 0.814);
    transform: scale(1.2);
    border-radius: 300px;
}

@media(max-width:453px) {
    #userinput {
        margin: 2px;
        width: 85%;
        size: 50;
        text-align: center;
    }
}

@media(max-width:433px) {
    h1 {
        display: none;
    }
    #calculimg {
        display: inline-block;
        height: 5em;
        width: auto;
    }
    .btn1,
    .btn-grey {
        height: 3em;
        width: 3em;
        text-align: center;
        font-size: 93%;
    }
}

@media(max-width:600px) {
    .container {
        overflow: scroll;
        height: fit-content;
    }
}